# dataset section
"data_dir": "./tool/corpus/data/processed/CoNLL2003_BIOES"

# additional vocabulary
"replace_zero": true
"lower": true

# model parameters
"word_dim": 100
"word_hidden_dim": 100

# optimizing parameters
"optimizer": "SGD"
"learning_rate": 0.01
"gradient_clipping": 5.0

# training parameters
"epoch": 100
"batch_size": 10
