# dataset section
"data_dir": "./tool/corpus/data/processed/CoNLL2003_BIOES"
"word_vector": "./tool/vector/data/processed/Skip100/model"

# additional vocabulary
"vocab.words.txt": "./tool/vector/data/processed/Skip100/vocab.words.txt"
"replace_zero": true
"lower": true

# model parameters
"word_dim": 100
"word_hidden_dim": 100
"dropout": 0.5

# optimizing parameters
"optimizer": "SGD"
"learning_rate": 0.01
"gradient_clipping": 5.0

# training parameters
"epoch": 100
"batch_size": 10
